/.kdev4/MV-matching-C.kdev4
/MV-matching-C.kdev4
/testsuit/gmon.out
/scripts/big.txt
/scripts/out/*
/scripts/out2/*
/testsuit/test
/testsuit/testgraphs
doc/*
*.o
testsuit/graphs/*
/solvers/solver-boost
/solvers/solver-boost.cpp~
/solvers/solver-lemon
/solvers/solver-libmv
/solvers/solver-libmv.c~
